<div id="jp_container_prototype" class="jp-audio">
    <div class="jp-type-single">
        <div class="jp-gui jp-interface">
            <ul class="jp-controls">
                <li>
                    <a
                        class="jp-play icon-play"
                        title="{{ 'player.play'|trans|desc('Start playback') }}"
                        tabindex="1"
                    >
                        {{ 'player.play'|trans|desc('Start playback') }}
                    </a>
                </li>
                <li>
                    <a
                        class="jp-pause icon-pause"
                        title="{{ 'player.pause'|trans|desc('Pause playback') }}"
                        tabindex="1"
                    >
                        {{ 'player.pause'|trans|desc('Pause playback') }}
                    </a>
                </li>
                <li>
                    <a
                        class="jp-stop icon-stop"
                        title="{{ 'player.stop'|trans|desc('Stop playback') }}"
                        tabindex="2"
                    >
                        {{ 'player.stop'|trans|desc('Stop playback') }}
                    </a>
                </li>
                <li>
                    <a
                        class="jp-mute icon-volume-off"
                        title="{{ 'player.mute'|trans|desc('Mute') }}"
                        tabindex="3"
                    >
                        {{ 'player.mute'|trans|desc('Mute') }}
                    </a>
                </li>
                <li>
                    <a
                        class="jp-unmute icon-volume-down"
                        title="{{ 'player.unmute'|trans|desc('Unmute') }}"
                        tabindex="3"
                    >
                        {{ 'player.unmute'|trans|desc('Unmute') }}
                    </a>
                </li>
                <li>
                    <a
                        class="jp-volume-max icon-volume-up"
                        title="{{ 'player.max_volume'|trans|desc('Max volume') }}"
                        tabindex="4"
                    >
                        {{ 'player.max_volume'|trans|desc('Max volume') }}
                    </a>
                </li>
            </ul>
            <div class="jp-progress">
                <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                </div>
            </div>
            <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
            </div>
            <div class="jp-time-holder">
                <div class="jp-current-time"></div>
                <div class="jp-duration"></div>
            </div>
        </div>
        <div class="jp-no-solution">
            <span>{{ 'player.update_required.title'|trans|desc('Update required title') }}</span>
            {{ 'player.update_required.message'|trans|desc('Update required message') }}
        </div>
    </div>
</div>